$red: #e74c3c;
$gray: #777;

.images {
	margin-top: 50px;
}

.images__wrapper {
	display: inline-block;
	width: 25%;
	margin-bottom: 30px;
	text-align: center;

	&:nth-child(4n+1):not(.hidden) {
		.image_rounded {
			border: 5px solid $red;
		}
	}

	&.hidden {
		display: none;
	}
}

.image_rounded {
	display: inline-block;
	width: 170px;
	height: 170px;
	background-size: cover;
	background-position: center center;
	border-radius: 50%;
	border: 5px solid $gray;
	transition: transform .3s ease-in, border .2s;

	&:hover {
		border: 5px solid $red;
		transform: rotate(45deg);
		transition: transform .2s ease-out, border .2s;
	}
}


@media only screen and (max-width: 900px) {
	.images__wrapper {
		width: 50%;

		.image_rounded {
			border: 5px solid $gray;
		}

		&:nth-child(odd) {
			.image_rounded {
				border: 5px solid $red;
			}
		}
	}
}

@media only screen and (max-width: 500px) {
	.images__wrapper {
		width: 100%;

		.image_rounded {
			border: 5px solid $gray;
		}
	}
}


