.modal {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, .5);
	z-index: 100;
}

.modal__wrapper {
	position: absolute;
	top: 10%;
	left: 10%;
	bottom: 10%;
	right: 10%;
	margin: auto;
}

.modal__image {
	max-width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.modal__close {
	position: absolute;
	right: -50px;
	top: 0;
}
